#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

#spacer {
  height: 50%;
  width: 100%;
}

#slides {
  position: absolute;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  left: 10%;
}

.slide {
  top: 20%;
  position: absolute;
  left: 0;
  width: 400px;
  height: 250px;
  background-color: #e0e0e0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  -webkit-transition: left 500ms, opacity 500ms, -webkit-transform 500ms;
  transition: left 500ms, opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, left 500ms, opacity 500ms;
  transition: transform 500ms, left 500ms, opacity 500ms, -webkit-transform 500ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
.slide::before {
  content: '\2022 \2022 \2022';
  color: #999;
  font-size: 40px;
  line-height: 30px;
  padding-left: 8px;
  letter-spacing: 2px;
  display: block;
  height: 30px;
  background: -webkit-linear-gradient(#ddd, #ccc);
  background: linear-gradient(#ddd, #ccc);
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.slide img {
  width: 400px;
  height: 250px;
  /*-o-object-fit: cover;*/
    /* object-fit: cover;*/
}

.slide-left {
  -webkit-transform: perspective(1000px) rotateY(45deg) scale(0.8);
          transform: perspective(1000px) rotateY(45deg) scale(0.8);
  left: -320px;
  opacity: 0.8;
  z-index: 3;
}

.slide-center {
  opacity: 1;
  z-index: 5;
}

.slide-right {
  -webkit-transform: perspective(1000px) rotateY(-45deg) scale(0.8);
          transform: perspective(1000px) rotateY(-45deg) scale(0.8);
  left: 320px;
  opacity: 0.8;
  z-index: 4;
}

.sliding-right .slide-left {
  z-index: 4;
}
.sliding-right .slide-right {
  z-index: 3;
}

.btn {
  font-size: 50px;
  color: #666666;
  position: absolute;
  top: 120%;
  margin-top: -27px;
  z-index: 5;
  cursor: pointer;
}

#btn-left {
  left: -70%;
}

#btn-right {
  right: -70%;
}
